.navbar{
     margin-top: 5px;
     overflow: hidden;
     font-size: 20px;
     text-align: center;
     font-family: sans-serif;
    }

    #header{
        margin-top: 15px;
        overflow: hidden;
        text-align: center;
        color: rgb(242, 41, 19);
        font-family: sans-serif;

    }

    .Anasayfa{
    
        text-align: center;
        font-family: sans-serif;

    }

    .Galery{
        text-align: center;
        font-family: sans-serif;
        margin-top: 10px;
        margin-bottom: 50px;
        color: rgb(118, 41, 43);
    }

    img{
        width: 250px;
        height: 160px;
    }

    .hakkımızdabaslık{
        text-align: left;
        font-family: sans-serif;
        color: rgb(11, 184, 112);


    }

    .paragraf{
        text-align: left;
        font-family: sans-serif;

    }

    ul{
        display:flex;
        justify-content:center;
        list-style-type: none;
    }

    li{
        padding: 10px;
        padding-left: 5px;
    }

    li a{
        
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        
    }